.form__inputs {
	margin-bottom: 40px;
	display: flex;
	column-gap: 40px;
}

.form__title {
	margin-bottom: 10px;
	font-weight: 400;
}

.form__text {
	color: #7B8A92;
	margin-bottom: 40px;
}

.form__radios {
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 30px;
}

.form__information {
	margin-bottom: 40px;
	padding: 15px;
	max-width: 280px;
	border-radius: 5px;
	color: rgba(123, 138, 146, 0.7);
	font-size: 14px;
	-webkit-box-shadow: 0px 0px 21px 1px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 21px 1px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 21px 1px rgba(34, 60, 80, 0.2);
}

.form__check {
	margin-bottom: 40px;
	color: rgba(123, 138, 146, 0.7);
}

.form__check a {
	color: rgba(109, 109, 255, 0.7);
	text-decoration: underline;
}


@media(max-width:680px) {
	.form__radios{
		display: grid;
		grid-template-areas:
		"Individual Business"
		"Ira Trust"
	}
	.form__inputs,
	.form__text,
	.form__radios,
	.form__information,
	.form__check {
		margin-bottom: 20px;
	}
}

@media(max-width:570px) {
	.form__inputs {
		flex-direction: column;
		row-gap: 20px;
	}
	.form__title{
		font-size: 20px;
	}
	.form__information{
		width: 100%;
	}
}